html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/*
#container {
     height: 100%;
    margin: 0;
    display: flex;
    background: #ffc0cb;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

#title {
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    background: purple;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 16px;
}

#scoreboard {
    display: flex;
    justify-content: center;
}

#message {
    display: flex;
    justify-content: center;
}

p.score {
    display: flex;
    flex-direction: column;
    margin: 16px;
    background: green;
}

p.update {
    display: flex;
    flex-direction: column;
    margin: 16px;
    background: orange;
}
*/